[global]
sessions=FAKEXXN
fixDialectDescriptionFile=/opt/tradework/onix/config/or/dialect_or.xml
schedulerSettingsFile=/opt/tradework/onix/config/or/scheduler_or.xml
licenseStore=/opt/tradework/onix/license/
logDirectory=logs/daily/bar_recorder_test

[FAKEXXN]
host=127.0.0.1
port=66699
password=password
senderCompId=FAKEXXN
senderSubId=FAKER002
senderLocationId=US,IL
applicationSystemName=BlackWolf
applicationSystemVersion=1.0
applicationSystemVendor=AMR
account=99999999
customerOrFirm=1
ctiCode=2
handlInst=1
enabled=true
storageType=Custom
