[log]
enabled=true
toConsole=true
toFile=true
fileName=logs/publisher/publisher_hist_server.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;onix_test

[instruments]
dataSourceType=db
createQuotesOnLoad=true

[common_comm]
tcp_ip_server_port=90005
heartbeat_interval=4294967295
#tcp_no_delay=true

[strategy_container]
channel_pf=true
channel_or=false

[channel_pf_cme]
dataSourceType=file
dataSource=etc/config_tw/publisher_test/publisher/publisher_pf_cme.config

[channel_pf_historical]
# 0-Disabled, 1-Nanex, 2-AMR
mode=0
host=localhost
port=20003

[channel_or_cme]
dataSourceType=file
dataSource=etc/config_tw/or/cme/onix/test.config

[publisher_pf]
# 1-Realtime, 2-Record, 3-Replay
mode=3
# 1-LinuxAPI, 2-BusyWait
sleep_mode=2
log_dir=logs/publisher
replay_filename=/mnt/archive/vlad/historical_data/publisher_pf_20140730.log
#replay_filename=logs/publisher/publisher_pf_20140502.log
#start_time=13:00:00
#end_time=13:01:02
