[log]
enabled=true
toConsole=true
toFile=true
fileName=logs/publisher/publisher_hist_client.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;onix_test

[instruments]
dataSourceType=db
createQuotesOnLoad=true

[common_comm]
tcp_ip_server_port=20001
heartbeat_interval=500000
verbose=true

[strategy_container]
channel_pf=true
channel_or=false

[channel_pf_cme]
dataSourceType=file
dataSource=etc/config_tw/publisher_test/publisher/publisher_pf_cme.config

[channel_pf_historical]
# 0-Disabled, 1-Nanex, 2-AMR
mode=2
host=127.0.0.1
port=90005

[channel_or_cme]
dataSourceType=file
dataSource=etc/config_tw/or/cme/onix/test.config

[publisher_pf]
# 1-Realtime, 2-Record, 3-Replay
mode=1
log_dir=logs/publisher
replay_filename=logs/publisher/publisher_pf_20140422.log.2014-04-22_a
#replay_filename=logs/publisher/publisher_pf_20140424.log
