[log]
enabled=true
toConsole=true
toFile=true
fileName=../../logs/order_entry_ex_sim4.log
level=info
maxQueueSize=500


[db]
connection_str=tcp://172.20.10.151:3306;seth;lab3

[trading]
account=test

[instruments]
dataSourceType=db
dataSource=../../etc/config_tw/instruments/test_instrument_cme.config
createQuotesOnLoad=true

[common_comm]
tcp_ip_server_port=20017
heartbeat_interval=200000

[strategy_container]
channel_pf=false
channel_or=true

[channel_pf_cme]
dataSourceType=file
dataSource=../../etc/config_tw/pf/cme/onix/real_time.config

[channel_or_cme]
dataSourceType=file
dataSource=../../etc/config_tw/or/cme/onix/order_entry_ex_sim4.config

[channel_or]
dataSourceType=file
dataSource=../../etc/config_tw/or/test.config