[log]
enabled=true
toConsole=true
toFile=true
fileName=../../logs/order_entry_sim.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;tradework;tradework1;tw_test

[trading]
account=test

[instruments]
dataSourceType=db
dataSource=../../etc/config_tw/instruments/test_instrument_cme.config
createQuotesOnLoad=false

[common_comm]
tcp_ip_server_port=20003

[strategy_container]
channel_pf=false
channel_or=true

[channel_or_cme]
dataSourceType=file
dataSource=../../etc/config_tw/or/cme/onix/order_entry_sim.config

[channel_or]
dataSourceType=file
dataSource=../../etc/config_tw/or/test.config