[log]
enabled=true
toConsole=true
toFile=true
fileName=logs_or_ex_sim/ex_sim2.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;blackwolf_beta

[trading]
account=seth_test4

[instruments]
dataSourceType=db
createQuotesOnLoad=true

[common_comm]
tcp_ip_server_port=20005
heartbeat_interval=5000

[strategy_container]
channel_pf=true
channel_or=false

[channel_pf_cme]
dataSourceType=file
dataSource=etc/config_tw/pf/cme/onix/seth_real_time.config

[channel_or_cme]
dataSourceType=file
dataSource=etc/config_tw/or/cme/onix/order_entry_ex_sim2.config

[channel_or]
dataSourceType=file
dataSource=etc/config_tw/or/test.config
