[log]
enabled=true
toConsole=true
toFile=true
fileName=logs/publisher/global_sample.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;trade_lab1

[instruments]
dataSourceType=db
dataSource=etc/config_tw/instruments/test_instrument_cme.config
createQuotesOnLoad=true

[common_comm]
tcp_ip_server_port=20001
heartbeat_interval=500000

[strategy_container]
channel_pf=true
channel_or=false

[channel_pf_cme]
dataSourceType=file
dataSource=etc/config_tw/pf/cme/onix/real_time.config

[channel_pf_nanex]
enabled=true
host=172.20.10.160
port=3001

[channel_or_cme]
dataSourceType=file
dataSource=etc/config_tw/or/cme/onix/test.config

[audit_cme]
outputFileName=/home/vlad/tradework_AMRDEV01/logs/audit_cme.csv
