[log]
enabled=true
toConsole=true
toFile=true
fileName=../../logs/ex_sim_cme_cert.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;tw_test

[trading]
account=seth_test4
auto_pilot=true
regulate=false

[instruments]
dataSourceType=db
dataSource=../../etc/config_tw/instruments/test_instrument_cme.config
createQuotesOnLoad=false

[common_comm]
tcp_ip_server_port=20402
heartbeat_interval=5000

[strategy_container]
channel_pf=true
channel_or=true

[channel_or]
dataSourceType=file
dataSource=../../etc/config_tw/or/test.config

[channel_pf_cme]
dataSourceType=file
dataSource=../../etc/config_tw/pf/cme/onix/real_time.config

[channel_or_cme]
dataSourceType=file
dataSource=../../etc/config_tw/or/cme/onix/ex_sim_cme_cert.config

