[log]
enabled=true
toConsole=true
toFile=true
fileName=logs_or_drop_cme/drop_cme_cert.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;tw_test

[common_comm]
tcp_ip_server_port=20301
heartbeat_interval=5000

[channel_or_drop_cme]
dataSourceType=file
dataSource=etc/config_tw/or/cme/onix/drop.config
