[log]
enabled=true
toConsole=true
toFile=true
fileName=../../logs/instrument_loader_cme.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;tradework;tradework1;tw_test

[instruments]
dataSourceType=db
dataSource=../../etc/config_tw/instruments/test_instrument_cme.config
dataSourceTypeOutput=db
createQuotesOnLoad=true

[channel_pf_cme]
dataSourceType=file
dataSource=../../etc/config_tw/pf/cme/onix/instrument_loader.config
dataSourceTypeOutput=db