[log]
enabled=true
toConsole=true
toFile=true
fileName=logs/pnl_audit_test.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;pilot_test

[instruments]
dataSourceType=db
createQuotesOnLoad=true

[pnl_audit]
# 1-Account, 2-Strat, 3-Both, 4-PnLAnalysis
mode=3
start_time=2014-06-20
#end_time=2014-06-17T11:25:00
