[channel_pf_cme_onix]
#"Specifies comma separated list of CME symbols to listen to. If empty, subscribes to all existing instruments"
#symbols_filter=6AM4,6BM4,6CM4,6EM4,6JM4,6SM4,ESM4,NQM4,YMM4,CLK4,NGK4,GCM4,SIK4,HGK4

#"Specifies comma separated list of CME channel Ids to listen to. If empty, subscribes to all channels for all existing instruments"
;channelIds=11,111
channelIds=7,11,15,30,31,33,60,111,113,115

#"Specifies comma separated list of thread affinity CPU indexes"
#cpuIndexes=

#"Specifies if to start in instrument loading mode"
instrumentLoading=true

#"Specifies if mode is verbose or not"
#verbose=true
verbose=false

#"Specifies if to replay data from log file"
;replay=false

#"Specifies folder to replay data from.  Ignored if 'reply' is set to 'false'"
;replayFolder=

#"Path to the folder in which licenses are stored"
licenseStore=/opt/tradework/onix/license/

#"Path the CME FIX dialect description file (backward compatibility option)"
fixDialectDescriptionFile=/opt/tradework/onix/config/pf/dialect_pf.xml

#"Option to use file-based caching of the security definitions"
cacheSecurityDefinitions=false

#"Path to the channels configuration XML file"
channelsConfigurationFile=/opt/tradework/onix/config/pf/config.xml

#"Path to CME FAST templates xml file (backward compatibility option)"
fastTemplatesFile=/opt/tradework/onix/config/pf/templates.xml

#"Path to CME FAST templates xml file"
codingTemplatesFile=/opt/tradework/onix/config/pf/templates.xml

#"Specifies one or more network interfaces to use while joining the multicast group# use semi-colon delimited list if more than one"
networkInterface=eth5

#"Specifies one or more network interfaces to use for \"A\" feeds while joining the multicast group# use semi-colon delimited list if more than one"
#networkInterfaceA=

#"Specifies one or more network interfaces to use for \"B\" feeds while joining the multicast group# use semi-colon delimited list if more than one"
#networkInterfaceB=

#"Option to record the first time the source multicast packet is received from the kernel - before it is decompressed or processed (backward compatibility option)"
recordReceivingTime=true

#"Option to recover the Security Definition messages each time when the message sequence gap is detected"
recoverSecurityDefinitionsOnGap=false

#"Option to use the Incremental feed A"
useIncrementalFeedA=true

#"Option to use the Incremental feed B"
useIncrementalFeedB=true

#"Option to use the Incremental Replay feed A"
useInstrumentReplayFeedA=true

#"Option to use the Incremental feed B"
useInstrumentReplayFeedB=true

#"Option to use the Snapshot feed A"
useSnapshotFeedA=true

#"Option to use the Snapshot feed B"
useSnapshotFeedB=true

#"Specifies maximal time interval between two network packets. If no data is received during specified time frame, warning is reported"
heartbeatInterval=30

#"Specifies whether the Handler should log its events and which of events should be put into the log"
# 0-Disabled, 1-Important, 2-Regular, 3-Debug
logMode=0

#"Additional options to control which data is to be logged. Ignored if logging is disabled"
# 0-LogNothing, 1-LogFixMessages,2-LogFullBooks,3-LogEverything
advancedLogOptions=0

#"Log files are stored in this directory. Ignored if logging is disabled"
logDirectory=logs

#"Maximum number of repeating group entries"
repeatingGroupEntriesMaxCount=1000

#"Maximum number of queued Market Data Incremental Refresh (X) messages (backward compatibility option)"
incrementalMessageQueueMaxSize=1000

#"Maximum number of market data packets to be hold while Handler does recovery. To be used to limit the memory usage when order books or TCP Replay recovery takes too much time"
packetQueueMaxSize=1000

#"Defines max value for size of packet cache which is used to put into line out of order multicast packets"
maxGapRecoveryCacheSize=100

#"Indicates for how long Handler should wait for the packet before consider it as totally lost. Value must be specified in microseconds (usec)"
lostPacketWaitTimeout=1000000

#"Option to use the TCP Replay feed"
useTcpReplay=false

#"Userid or username to be used in the Logon (35=A) message from customer to CME"
tcpReplayUsername=

#"Password or passphrase to be used in the Logon (35=A) message from customer to CME"
tcpReplayPassword=

#"Number of attempts to receive missed messages via the TCP Replay Channel")
#tcpReplayReconnectAttempts=

#"Interval in milliseconds between the attempts to receive missed messages via the TCP Replay Channel (backward compatibility option)")
#tcpReplayReconnectIntervalInMilliseconds=

#"Interval in milliseconds between the attempts to receive missed messages via the TCP Replay Channel")
tcpReplayReconnectInterval=500

#Collect quote notification statistics and print them every $n quote updates
quoteNotificationStatisticsInterval=10000

#"Log file size limit (in bytes). Handler detaches logged data into separate file upon reaching given size limit"
logFileSizeLimit=2145386496

#"Option to process only 'normal' (e.g. not implied) trades"
processNormalTradesOnly=true

#"Send quote updates only when top of book changes price or quantity"
topOfBookOnly=true

#"Option to use natural refresh of books without recovering dropped packets"
naturalRefresh=false

#"Path to CME FAST templates xml file"
definitionsFile=/opt/tradework/onix/config/pf/secdef.dat

#"Defines depth of direct order book for the instrument whose definition wasn't received or had no corresponding data"
directBookDepth=10

#"Defines depth of impliedBookDepth order book for the instrument whose definition wasn't received or had no corresponding data"
impliedBookDepth=2

#"Defines amount of time Handler spends on socket waiting for I/O completion result. Time is measured in milliseconds"
ioCompletionWaitTime=10

#"Log file name are started from the prefix. Ignored if logging is disabled"
logFileNamePrefix=pfCME

#"Max size for network packet transmitted by MDP"
maxPacketSize=4096

#"Defines market data processing strategy"
# 0-Direct, 1-Buffered
packetsPullingStrategy=1

#"Amount of time allocated to process TCP replay request. Handler interrupts request processing if it doesn't accomplish within given time frame. Interval is measured in seconds"
tcpReplayRequestTimeframe=30

#"Defines size of buffer in bytes for TCP replay receiving socket. Note: Default value is zero which means system default setting will be used"
tcpSocketReceiveBufferSize=0

#"Defines size of buffer in bytes for UDP/multicast sockets. Note: Default value is zero which means system default setting will be used"
#udpSocketBufferSize=0
udpSocketBufferSize=8388608

#"Indicates whether local or UTC time is used by the Handler while assigning timestamps to log events and packets received"
useUniversalTime=true

#"Indicates whether to coalesce all trades/book changes before clients updates or not"
coalesce=true
