[log]
enabled=true
toConsole=true
toFile=true
fileName=logs/instrument_loader_test/instrument_loader.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;instrument_loader_test

[instruments]
dataSourceType=db
dataSourceTypeOutput=db
createQuotesOnLoad=true
updateSettlements=false
settlementsPath=logs/instrument_loader_test

[channel_pf_cme]
dataSourceType=file
dataSource=etc/config_tw/instrument_loader_test/instrument_loader_pf_cme.config
