[log]
enabled=true
toConsole=true
toFile=true
fileName=../../logs/audit/audit_cme.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;tw_test_rd

[instruments]
dataSourceType=db
dataSourceTypeOutput=db
createQuotesOnLoad=false

[channel_or_cme]
dataSourceType=file
dataSource=../../etc/config_tw/audit/audit_onix_cme.config

[audit_cme]
outputFileName=../../logs/audit_cme.csv
