[log]
enabled=true
toConsole=true
toFile=true
fileName=logs/onix_test/onix/onix.log
level=info
maxQueueSize=500

[db]
connection_str=tcp://172.20.10.151:3306;seth;onix_test

[trading]
account=pilot_test
auto_pilot=true
stale_quotes_timeout=10000
print_pnl=true

[instruments]
dataSourceType=db
createQuotesOnLoad=true

[common_comm]
tcp_ip_server_port=50303
heartbeat_interval=6000

[strategy_container]
channel_pf=true
channel_or=true

[channel_pf_cme]
dataSourceType=file
dataSource=etc/config_tw/pf/cme/onix/real_time.config

[channel_or]
dataSourceType=file
dataSource=etc/config_tw/onix_test/onix/onix_or.config

[channel_or_cme]
dataSourceType=file
dataSource=etc/config_tw/onix_test/onix/onix_or_cme.config

[bars_storage]
outputToDb=true
max_queue_size_db=50000
batch_cache_size=100
max_batch_cache_size=400
historical_bars_source=bar_recorder_test
processPatterns=true

[watchdog]
port=40613
