[global]
sessions=7E59Z11N
fixDialectDescriptionFile=/opt/tradework/onix/config/or/dialect_or.xml
schedulerSettingsFile=/opt/tradework/onix/config/or/scheduler_or.xml
licenseStore=/opt/tradework/onix/license/
logDirectory=logs/onix_test/onix/

[7E59Z11N]
host=localhost
port=11111
password=7E5
senderCompId=7E59Z11N
senderSubId=AMR_TW
senderLocationId=US,IL
applicationSystemName=Rosenthal_onix_test
applicationSystemVersion=1.0
applicationSystemVendor=blackwolf
account=82409802
customerOrFirm=1
ctiCode=2
handlInst=1
enabled=true
storageType=Custom
